@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
    text-decoration: none;
}
.hero-sections {
    display: flex;
    gap: 10px;
    padding: 170px 100px;
}
.hero-sections .hero-content {
    padding: 80px 0%;
    width: 50%;
}
.hero-sections .hero-content h2 {
    color: #000; 
    font-size: 38px;
}
.hero-sections .hero-content p{
    color: #05192D;
    font-size: 18px;
    width: 78%;
    padding: 15px 0%;
}
.hero-sections .hero-images {
    width: 50%;
}
.hero-sections .hero-images img{
    width: 90%;
}
.trusted {
    color: #000;
    font-size: 24px;
}
.trusted .star-flex {
display: flex;
gap: 10px;
padding: 10px 0%;
/* background: #000; */
width: 40%;
}
.trusted .star-flex img {
    width: 12%;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding:60px 100px;
    gap: 13px;
    height: auto;
}
.grid .grid-box {
width: 100%;
    border-radius: 10px;
    background: rgba(245, 59, 65, 0.25);
    flex-shrink: 0;
    padding: 37px 14%;
}

.grid .grid-box p{
    padding: 10px 0%;
    font-size: 14px;   
}

.grid .grid-box button {
    padding: 8px 7%;
    border: none;
    background: #F53B41;
    border-radius: 50px;
    color: #FFF;
    font-size: 17px;    
}
.grid-red {
 display: flex;
 overflow: hidden;
 gap: 10px;
 padding: 36px 594px;
 background: #F53B41;
 flex-direction: column;
 align-items: center;
}
.grid-red h2{
    color: #FFF;
    font-size: 33px;
    width: 100%;
}
.grid-red p{
    color: #FFF;
    font-size: 15px; 
    text-align: center;
    padding: 2px 0%;
}
.grid-red button {
    padding: 14px;
    border-radius: 3px;
    font-size: 16px;
    background: #fff;
    font-weight: 500;
    color: #F53B41;
    border: none;
}
.secure {
    display: flex;
    gap: 30px;
    padding: 40px 100px;
}
.secure .secure-content {
    width: 50%;
    padding: 57px 0%;
}
.secure .secure-content b{
color: #FF6EA9;
display: flex;
font-size: 13px;
font-weight: 700;
text-transform: uppercase;
}
.secure .secure-content h2 {
    color: #05192D;
    font-size: 35px;
    font-weight: 700;
    /* letter-spacing: -1.304px; */
}
.secure .secure-content p{
    font-size: 18px;
    padding: 16px 0%;
}
.secure .secure-content button {
 display: inline-flex;
 padding: 15px 23px 15px 23px;
 border-radius: 5.215px;
 border: 2px solid #000;
 justify-content: center;
 background: transparent;
 cursor: pointer;
 color: #F53B41;
 font-weight: 700;
 font-size:15px;
 align-items: center;
}
.secure .secure-image {
    width: 50%;
}
.secure .secure-image img{
width: 90%;
}
/* Styles for mobile devices */
@media (max-width: 480px) {
    .hero-sections {
        padding: 10px 35px;
        flex-direction: column;
    }
    .hero-sections .hero-content{
        width: 100%;
 }
 .hero-sections .hero-content h2{
    font-size: 35px;
 }
 .hero-sections .hero-content p{
width: 100%;
 }
 .hero-sections .trusted .star-flex{
    width: 100%;
 }
 .hero-sections .trusted .star-flex img {
    width: 9%;
 }
 .hero-sections .hero-images {
    width:100%;
 }
 .grid {
    grid-template-columns: repeat(1,1fr);
    padding: 20px 35px;
 }
 .secure {
    display: flex;
    flex-direction: column;
    padding: 0px 35px;
 }
 .secure .secure-image {
    width: 100%;
}
#API {
    padding-bottom: 30px;
}
#certificate {
     padding-top: 30px;
 }
 .secure .secure-content{
    width: 100%;
 }
 .secure .secure-content h2{
    font-size:30px;
 }
 .secure .secure-content p{
    font-size: 15px;
 }
.secure .secure-image {
    width: 100%;
    float: top;
}
 .grid-red{
    display: none;
 }
 
}