footer {
    height:auto;
    background:#F53B41;
    padding: 30px 100px;
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: auto;
}
footer .footer-box {
    /* background: #000; */
    width: 100%;
}
footer .footer-box h2{
    color: #fff;
    font-size: 22px;
    font-weight: 600;
    text-transform: uppercase;
}
footer .footer-box a{
    display: block;
    padding: 10px 0%;
    color: #fff;
    font-size: 15px;
}