@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  font-family: 'Barlow', sans-serif;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.alert{
 width: 100%;
 flex-shrink: 0;
 position: fixed;
 display: flex;
 padding: 15px 0%;
 gap: 10px;
 top: 0%;
 text-align: center;
 justify-content: center;
background: #FCCECF;
}
.alert b{
    color: #F53B41;
    cursor: pointer;
    font-size: 14px;
}
.alert p{
    font-weight: 500;
    font-size: 14px;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 20px 100px;
    position: fixed;
    top: 5.8%;
    width: 100%;
    justify-content: space-between;
background: #fff;
}
.navbar .navbar-links {
    display: flex;
    gap: 30px;
    text-align: center;
     justify-content:flex-start;
    cursor: pointer;

}
.navbar .navbar-logo img{
 width: 30%;
}
.navbar .navbar-links {
    font-size: 13px;
 font-weight: 500;
 color: #000;

}
.navbar .navbar-links .active {
    color: #F53B41;
}
/* Styles for mobile devices */
@media (max-width: 480px) {

.alert,
.navbar {
    display: none;
}
}